# Ignore bundler and node modules
/.bundle
/vendor/bundle*
node_modules

# Ignore compiled assets
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore log files and temp files.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/coverage
/.rubocop-http*
/.byebug_history
/erd.pdf
/yarn-error.log

# Editor/IDEs/System files
*.swp
.project
.DS_Store
.~lock.*#
tags

# Uploads / Storage
/public/uploads*
/storage*

# Environment variables and credentials
/.env*
!.env.example
/config/master.key

# PostgreSQL files
/pg*data
