form.search-form
  .input-group
    input.form-control.form-control-sm type="text" name="q" placeholder=ta(:search) value=params[:q]
    button.btn.btn-sm.bg-light.border.search-submit type="submit" = fa_s(:search)
