body
  padding-top: 70px
  padding-bottom: 15px

#main
  width: auto

#flash
  position: fixed
  bottom: 20px
  right: 20px
  z-index: 9999

.modal-backdrop.show
  opacity: 0.75

img
  max-width: 100%

#nav .badge[data-count='0']
  display: none

.fa,
.fab,
.far,
.fas,
  @extend .fa-fw

// Fix ad-blockers
.fa-feed:before
  content: fa-content($fa-var-rss)

.btn-default
  @extend .btn-outline-primary

th.actions
  width: 5em
  text-align: center

td.actions
  white-space: nowrap

  .btn
    width: 100%

.actions.top
  text-align: right
  margin-bottom: $spacer

  &.row
    margin-bottom: 0
    > div
      margin-bottom: $spacer

table.default
  @extend .table
  @extend .table-sm

  th
    padding: 0.5rem 0.75rem
    border-bottom: $border-color solid 2px !important

  td
    padding: 0.3rem 0.75rem
    vertical-align: middle
    border-bottom: $border-width solid $border-color

th.position
  width: 1em

.handle
  cursor: move

.actions
  .btn
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm)

  .btn + .btn,
  .btn + .dropdown,
  .dropdown + .btn,
    margin-left: 0.5em

  .btn-group .btn + .btn
    margin-left: -1px

.form-group
  @extend .mb-3

.form-actions
  text-align: center
  margin-top: 2rem

.control-label.required > abbr
  text-decoration: none

@include media-breakpoint-up(sm)
  .search-form
    max-width: 15em

.card > table
  margin-bottom: -1px

.block-center
  max-width: map-get($grid-breakpoints, "sm")
  margin: auto

textarea::placeholder
  font-style: italic
  font-size: 0.875em

.sortable-ghost
  opacity: 0.33

pre, code
  color: $dark
  background: #f0f0f0
  border-radius: $border-radius

pre
  padding: 1em

code
  padding: 3px 5px

@include media-breakpoint-down(md)
  .hidden-sm
    display: none
