$nav-left-width: 250px
$nav-left-border-color: var(--bs-border-color)
$nav-left-font-size: 13px
$nav-left-items-padding: 15px


@include media-breakpoint-up(lg)
  #nav
    .navbar-left
      display: block
      position: absolute
      left: 0
      top: 57px
      height: calc(100vh - 57px)
      width: $nav-left-width
      z-index: 5
      font-size: $nav-left-font-size
      line-height: $nav-left-font-size
      overflow: auto
      border-right: 1px solid $nav-left-border-color

      > li
        border-bottom: 1px solid $nav-left-border-color
        margin: 0
        padding: 0

        a
          padding: $nav-left-items-padding

      li.active > a
        font-weight: bold

  #main
    margin-left: $nav-left-width


// Bootstrap fix
.navbar-collapse.show
  max-height: 75vh
  overflow-y: auto


////////////////////////////////////////////////////////////////////////////////


#nav
  .navbar-left
    li a
      padding-left: 30px

    li.subnav
      position: relative

      .subnav-toggle
        margin: 0
        padding: 0
        background: none
        border: none
        outline: none
        color: inherit
        width: 30px
        height: 40px
        flex-grow: 0
        text-align: center
        cursor: pointer
        position: absolute
        top: 0
        left: 0
        color: var(--body-color)

      ul.subnav-list
        display: none

        &, li
          margin: 0
          padding: 0
          list-style: none

        li
          border-top: 1px solid $nav-left-border-color

        li.active .subnav-header > a
          font-weight: bold

        a
          padding-top: 5px
          padding-bottom: 5px

    li.subnav.open
      ul.subnav-list
        display: block

      .subnav-toggle .icon:before
        content: "\f0d7" !important
